# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dwhea\Desktop\College Repos\alevel-programming\Homework\Programming Practice\2 - Xmas present picker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
