# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dwhea\Desktop\College Repos\alevel-programming\P2 - Chapter 5 - Subroutines\Exercise 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
